language: node_js
node_js:
- 0.12.15
sudo: false
branches:
  only:
  - master
cache:
  directories:
  - node_modules
  - typings
before_install:
- openssl aes-256-cbc -K $encrypted_477557335d5d_key -iv $encrypted_477557335d5d_iv
  -in deploy_key.enc -out deploy_key -d
- chmod 600 travis_rsa
- npm config set spin false
- npm install -g npm@^2
install:
- npm run setup
before_script:
- npm run lint
script:
- npm run build
deploy:
  skip_cleanup: true
  provider: script
  script: rsync -a --delete -e 'ssh -i travis_rsa -p $SCP_PORT -o stricthostkeychecking=no' dist/ $SCP_USER@$SCP_IP:/var/www/html/capstone/
